.card-container {
  margin: auto;
  width: 400px;
  height: 600px;
  border: black solid 2px;
  background-color: #ffbf00;
  border-radius: 14px;
  position: relative;
  display: flex;
  box-shadow: 8px 12px 12px 1px #222;
}

.card-face {
  margin: auto;
  /* width: 370px;
    height: 570px; */
  width: 94%;
  height: 94%;
  border: solid 1px black;
  background-color: orange;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30751457-a50b-4f4c-a9f2-5a8ee5504f89/d6awe5m-d41ba327-6970-4ab7-8353-6f236d203006.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzA3NTE0NTctYTUwYi00ZjRjLWE5ZjItNWE4ZWU1NTA0Zjg5XC9kNmF3ZTVtLWQ0MWJhMzI3LTY5NzAtNGFiNy04MzUzLTZmMjM2ZDIwMzAwNi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.6U7xPuU2kkw1m3h_UAzlkQYg5pEIUl7E3n1WcMASUL8");
}

.card-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5.34% 44.48% 25.8% 23.67%;
  row-gap: 0.71%;
}

.card-header {
  padding: 0;
  margin: 0;
  align-self: center;
  margin-left: 10px;
  font-family: sans-serif;
}

.card-img-container {
  position: relative;
  background-color: yellow;
  width: 93%;
  justify-self: center;
  border: solid black 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 5px 12px #111;
  justify-content: center;
  align-items: center;
  background-image: url("https://cutewallpaper.org/21/pokemon-card-backgrounds/Best-48-TCG-Background-on-HipWallpaper-TCG-Wallpaper-TCG-.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pokemon-sprite {
  height: 95%;
  width: 90%;
}

.poke-measure {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  background-color: gold;
  margin: auto;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  font-family: sans-serif;
}

.poke-info {
  padding: 0;
  height: 100%;
  width: 95%;
  margin: auto;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: space-around;
  background-color: hsl(45, 100%, 50%, 0.2);
  font-family: sans-serif;
}
.type-right,
.type-left {
  opacity: 1;
}

.poke-stats {
  height: 100%;
  width: 95%;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
  background-color: hsl(45, 100%, 50%, 0.3);
}

/* .card-set {
  display: flex;
} */

.card-container-back {
  margin: auto;
  width: 400px;
  height: 600px;
  border: black solid 2px;
  background-color: #032f7e;
  border-radius: 14px;
  position: relative;
  display: flex;
  box-shadow: 8px 12px 12px 1px #222;
}

.card-back {
  margin: auto;
  width: 370px;
  height: 570px;
  border: solid 1px black;
  background-color: orange;
  background-image: url("https://i.imgur.com/YfRarvn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
