body {
  background-color: #7fb471;
  background-image: url("./images//bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-view {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
