.card-container {
  margin: auto;
  width: 400px;
  height: 600px;
  border: black solid 2px;
  background-color: #ffbf00;
  border-radius: 14px;
  position: relative;
  display: flex;
  box-shadow: 10px 12px 20px 1px rgb(97, 95, 71);
}

.card-face {
  margin: auto;
  /* width: 370px;
    height: 570px; */
  width: 94%;
  height: 95%;
  border: solid 1px black;
}

.background-bug {
  background-color: orange;
  background-image: url("./images/bug.png");
}
.background-dark {
  background-color: rgb(117, 115, 111);
  /* background-image: url("./images/darkness.png"); */
}
.background-dragon {
  background-color: orange;
  background-image: url("./images/dragon.png");
}
.background-dream {
  background-color: orange;
  background-image: url("./images/dream.png");
}
.background-electric {
  background-color: orange;
  background-image: url("./images/electric.png");
}
.background-fairy {
  background-color: orange;
  background-image: url("./images/fairy.png");
}
.background-fighting {
  background-color: orange;
  background-image: url("./images/fighting.png");
}
.background-fire {
  background-color: orange;
  background-image: url("./images/fire.png");
}
.background-flying {
  background-color: orange;
  background-image: url("./images/flying.png");
}
.background-ghost {
  background-color: orange;
  background-image: url("./images/ghost.png");
}
.background-grass {
  background-color: orange;
  background-image: url("./images/grass.png");
}
.background-ground {
  background-color: orange;
  background-image: url("./images/ground.png");
}
.background-ice {
  background-color: orange;
  background-image: url("./images/ice.png");
}
.background-normal {
  background-color: orange;
  background-image: url("./images/normal.png");
}
.background-poison {
  background-color: orange;
  background-image: url("./images/poison.png");
}
.background-psychic {
  background-color: orange;
  background-image: url("./images/psychic.png");
}
.background-rock {
  background-color: orange;
  background-image: url("./images/rock.png");
}
.background-steel {
  background-color: orange;
  background-image: url("./images/steel.png");
}
.background-water {
  background-color: orange;
  background-image: url("./images/water.png");
}

.poke-name {
  font-size: 2rem;
  align-items: center;
  margin-top: 12px;
}

.card-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5.34% 44.48% 25.8% 23.67%;
  row-gap: 0.71%;
}

.card-header {
  padding: 0;
  margin: 0;
  align-self: center;
  margin-left: 10px;
  font-family: sans-serif;
}

.card-img-container {
  position: relative;
  background-color: yellow;
  width: 93%;
  justify-self: center;
  border: solid black 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 5px 12px #111;
  justify-content: center;
  align-items: center;
  background-image: url("https://cutewallpaper.org/21/pokemon-card-backgrounds/Best-48-TCG-Background-on-HipWallpaper-TCG-Wallpaper-TCG-.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pokemon-sprite {
  height: 95%;
  width: 90%;
}

.poke-measure {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  background-color: gold;
  margin: auto;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  font-family: sans-serif;
}
.poke-measure p {
  margin-top: 1pc;
}

.poke-info {
  padding: 0;
  height: 100%;
  width: 95%;
  margin: auto;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: space-around;
  background-color: hsl(45, 100%, 50%, 0.2);
  font-family: sans-serif;
}
.type-right,
.type-left {
  opacity: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.type-left ul,
.type-right ul {
  padding-top: 20px;
  line-height: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.poke-stats {
  height: 100%;
  width: 95%;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
  background-color: hsl(45, 100%, 50%, 0.3);
}
.stat-list {
  padding: 0;
  list-style-type: none;
  line-height: 16px;
  align-self: center;
  font-weight: bold;
}

.card-set {
  display: flex;
}

.card-container-back {
  margin: auto;
  width: 400px;
  height: 600px;
  border: black solid 2px;
  background-color: #032f7e;
  border-radius: 14px;
  position: relative;
  display: flex;
  box-shadow: 8px 12px 12px 1px #222;
}

.card-back {
  margin: auto;
  width: 370px;
  height: 570px;
  border: solid 1px black;
  background-color: orange;
  background-image: url("https://i.imgur.com/YfRarvn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-view {
  height: 100%;
  width: 100%;
  background-color: goldenrod;
  background-image: url("./images//bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
